# Precedence

- Operators precedence describes the order in which operations are performed

In [ ]:
()                = Paranthesis
**                = Exponentiation
+x -x ~x          = unary plus,unary minus,bitwise NOT
* / // %          =Multiplication,Dividion,Floor division,Modulus
+ -               = Addition and subtraction
<<  >>            = Bitwise left and right shifts
&                 = Bitwise AND
^                 = Bitwise XOR
|                 = Bitwise OR
== != > >= < <= 
is isnot in notin = comparisions,identity,and membership operations
not               = logical NOT
and               = AND
or                =  OR

In [1]:
1. 7+(2-32)+23*23+(32-232)/23

497.30434782608694

In [2]:
7*(2-32)*23*23*(32-232)/23

966000.0

In [3]:
7/(2-32)/23*23/(32-232)/23

5.072463768115943e-05

In [10]:
2. 78-23+23+23+12+123-232+(34/54*34+4)+34

63.407407407407405

In [8]:
78-23+23+23+12+123-232*(34/54*34+4)*34

-200177.62962962966

In [9]:
78-23+23+23+12+123-232/(34/54*34+4)/34

235.7314354313154

3. What is the difference between equal to(=) and real equal to(==)

Assigns the value on the right-hand side to the variable on the left-hand side.
Example
x = 5
Checks if two values are equal.
Example
x == 5

4. a = -91
   b = 32
   apply comparision operator

In [2]:
#apply a == b
-91 == 32

False

In [3]:
#apply a != b
-91 != 32

True

In [4]:
#apply a > b
-91 > 32

False

In [5]:
#apply a < b
-91 < 32

True

In [6]:
#apply a >= b
-91 >= 32

False

In [7]:
#apply a <= b
-91 <= 32

True

5. Define type function.with example.

- the type() function is used to determine the type of an object storing the data in variables.

- Example

In [11]:
x = 4
y = 2.5
z = 5+8j
print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

4
2.5
(5+8j)
<class 'int'>
<class 'float'>
<class 'complex'>

6. Define bool function.
- the bool()function allow you to evalute any value ,and give you true or false in return.

- Example

In [15]:
print(bool(4.56<9))

True

In [13]:
print(bool(0))

False

7. write any 3 examples on type casting and type conversions.

In [17]:
x = 25     #int
y = 4.62   #float
z = 4+6j   #complex
# convert from int to float.
a = float(x)
# covert from float to int.
b = int(y)
#covert from int to complex.
c = complex(x)
print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

25.0
4
(25+0j)
<class 'float'>
<class 'int'>
<class 'complex'>